@import url('https://fonts.googleapis.com/css2?family=Arimo&family=DM+Mono:wght@300&display=swap');


body{
  margin-top: 25vh;
  overflow-x: hidden;
  background-color: white;
}


header{
  text-align: center;
  font-family: 'DM Mono', monospace;
}

.status{
  font-size: 3.4rem;
}



content{
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

.clock{
  width: 25rem;
  height: auto;
  margin: auto;

  font-size: 6rem;
}

#button{
  font-family: 'Arimo', sans-serif;
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 1.2rem;
  margin-top: 1rem;
}

#button:after {
  content: "";
  display: block;
  width: 0%;
  margin: 0;
  border-bottom: 2px solid black;
  animation: no-border 0.2s 1;
  animation-timing-function: ease-out;
}

#button:active, #button:focus{
  outline: none;
}

#button:hover{
  border-bottom: solid 2px black;
  border-width: 0;
}

#button:hover:after {
    content: "";
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid black;
    animation: border-slide 0.2s 1;
    animation-timing-function: ease-out;
}

@keyframes border-slide{
  0% {
    width: 0%; /* Change this to whatever width you want. */
  } 100% {
    width: 100%; /* Change this to whatever width you want. */
  }
}

@keyframes no-border{
  0% {
    width: 100%; /* Change this to whatever width you want. */
    margin: 0;
  } 100% {
    width: 0%; /* Change this to whatever width you want. */
    margin: 0 100%;
  }
}

.settings{
  position: fixed;
  top: 3rem;
  right: 3rem;
}

#settings{
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,1)
}

#settings:focus, #settings:active{
  outline: none;
}

#settings:hover{
  color: rgba(0,0,0,0.6);
}

#settings:active{
  color: rgba(0,0,0,0.5);
}

.popUp{
  width: 40vw;
  max-width: 50rem;
  height: 60vh;
  background-color: white;
  position: fixed;
  top: 15vh;
  left: 30vw;
  padding: 25px;
  box-shadow: 3px 3px 8px 0px #2C2C2C;
}

.exit-containter{
  text-align: right !important;
}

.exit{
  background-color: rgba(0,0,0,0);
  border: none;
}

.exit:focus{
  outline: none;
}

.exit:hover{
  color: rgba(0,0,0,0.8);
}

.exit:active{
  color: rgba(0,0,0,0.6);
}

.minInput, .secInput, .ui{
  width: 40px;
  border-style: none none solid none;
  border-width: 2px;
  font-size: 1rem;
  text-align: center;
}

.minInput:focus, .secInput:focus, .ui:focus{
  outline: none;
}

.ui{
  width: 100px;
}

.label1{
  margin-top: 2rem;
}

.label{
  font-size: 1.4rem;
}

.close{
  display: block;
  width: 160px;
  height: 30px;
  margin: 4rem auto;
  border: none;
  background-color: black;
  color: white;
  font-family: 'Arimo', sans-serif;
}

.close:focus{
  outline: none;
}

.close:hover{
  box-shadow: 1px 1px 5px 0px #2C2C2C;
}

.close:active{
  box-shadow: 2px 2px 7px 0px #1c1c1c;
}

.invisible{
  visibility: hidden;
}

@media (pointer:none), (pointer:coarse) {
  body{
    margin-top: 18vh;
  }

  .status{
    font-size: 8rem;
  }

  .clock{
    width: 50rem;
    font-size: 12rem;
  }

  #button{
    font-family: 'Arimo', sans-serif;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 4rem;
    margin-top: 7rem;
  }

  #button:after {
    border: none;
  }

  #button:active, #button:focus{
    outline: none;
  }

  #button:hover{
    border: none;
  }

  #button:hover:after {
    border: none;
  }

  .settings{
    position: fixed;
    top: 6rem;
    right: 6rem;
  }

  #settings{
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,1);
    font-size: 40px !important;
  }

  #settings:focus, #settings:active{
    outline: none;
  }

  #settings:hover{
    color: rgba(0,0,0,0.6);
  }

  #settings:active{
    color: rgba(0,0,0,0.5);
  }

  .popUp{
    width: 80vw;
    height: 60vh;
    background-color: white;
    position: fixed;
    top: 15vh;
    left: 10vw;
    padding: 25px;
    box-shadow: 3px 3px 8px 0px #2C2C2C;
  }

  .exit-containter{
    padding: 25px;
  }

  .exit{
    font-size: 40px !important;
  }
  .exit:hover{
    color: rgba(0,0,0,1);
  }

  .exit:active{
    color: rgba(0,0,0,1);
  }

  .minInput, .secInput, .ui{
    width: 200px;
    margin: 0 20px;
    border-width: 5px;
    font-size: 4rem;
  }

  .ui{
    width: 300px;
    font-size: 3.5rem;
  }

  option{
    max-width: 0.5rem;
    font-size: 1rem;
  }

  .label{
    margin-top: 3rem;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .label1{
    margin-top: 4rem;
  }

  option{
    min-height: 0.2rem;
  }


  .close{
    width: 480px;
    height: 100px;
    margin: 7rem auto;
    font-size: 3rem;
  }

  .close:focus{
    outline: none;
  }

  .close:hover{
    box-shadow: 1px 1px 5px 0px #2C2C2C;
  }

  .close:active{
    box-shadow: 2px 2px 7px 0px #1c1c1c;
  }

  .invisible{
    visibility: hidden;
  }

}
